//- <!-- ./views/detail.handlebars -->
//- <p>{{{todo.name}}}</p>
//- <a href="/">back</a>
//- <a href="#">edit</a>
//- <button type="submit">delete</button>

p #{todo.name}
a(href="/") back
a(href="#") edit
button(type="submit") delete