//- <a href="/todos/new">Create</a>

//- <ul>
//-   {{#each todos}}
//-     <li>
//-       {{{this.name}}}
//-       <a href="/todos/{{{this._id}}}">detail</a><-- 修改這裡 -->
//-       <a href="#">edit</a>
//-       <button type="submit">delete</button>
//-     </li>
//-   {{/each}}
//- </ul>

a(href="/todos/new") Create
each todo in todos
  li #{todo.name} 
    a(href='/todos/'+ todo._id) detail  
    a(href="#") create
    button(type="submit") delete     